<p>Fill in information to submit</p>

<form action="/employees/submit" method="POST">
  First name:<br>
  <input type="text" name="firstName"><br>
  Last name:<br>
  <input type="text" name="lastName"><br>
  Department: <br>
  <input type="text" name="department"> <br><br>
  <input type="submit" value="Submit">
</form>
<br><br>
<a href="/">Go back</a>
