<h1>Sample Application</h1>
<p>Welcome to Sample Application</p>
<div>
    {{#if user}}
        <p> Welcome {{user.displayName}} What would you like to do? </p>
        <a href="/employees">View all employees</a>
        <br>
        <a href="/employees/add">Add a new one</a>
        <br>
        <a href="/employees/view">Search for employees</a>
        <br>
        <a href="/logout">Logout</a>
    {{else}}
        <p>Welcome! Please <a href="/login">log in</a>.</p>
    {{/if}}
</div>

